<html lang="en-US">

<head>
    <title>Survey Analysis</title>
</head>

<body>
    <h1>Survey analysis</h1>
    <h2>First Name</h2>
    <ul>
        <% for (var i=0; i<results[0].length; i++){ %>
            <li>
                <%= results[0][i].firstName %> :
                    <%= results[0][i].count %>
            </li>
            <% } %>
    </ul>
    <h2>Last Name</h2>
    <ul>
        <% for (var i=0; i<results[1].length; i++){ %>
            <li>
                <%= results[1][i].lastName %> :
                    <%= results[1][i].count %>
            </li>
            <% } %>
    </ul>
    <h2>Email</h2>
    <ul>
        <% for (var i=0; i<results[2].length; i++){ %>
            <li>
                <%= results[2][i].email %> :
                    <%= results[2][i].count %>
            </li>
            <% } %>
    </ul>
    <h2>Question 1</h2>
    <ul>
        <% for (var i=0; i<results[3].length; i++){ %>
            <li>
                <%= results[3][i].question1 %> :
                    <%= results[3][i].count %>
            </li>
            <% } %>
    </ul>
    <h2>Question 2</h2>
    <ul>
        <% for (var i=0; i<results[4].length; i++){ %>
            <li>
                <%= results[4][i].question2 %> :
                    <%= results[4][i].count %>
            </li>
            <% } %>
    </ul>
    <h2>Question 3</h2>
    <ul>
        <% for (var i=0; i<results[5].length; i++){ %>
            <li>
                <%= results[5][i].question3 %> :
                    <%= results[5][i].count %>
            </li>
            <% } %>
    </ul>
    <h2>Question 4</h2>
    <ul>
        <% for (var i=0; i<results[6].length; i++){ %>
            <li>
                <%= results[6][i].question4 %> :
                    <%= results[6][i].count %>
            </li>
            <% } %>
    </ul>
    <h2>Question 5</h2>
    <ul>
        <% for (var i=0; i<results[7].length; i++){ %>
            <li>
                <%= results[7][i].question5 %> :
                    <%= results[7][i].count %>
            </li>
            <% } %>
    </ul>
    <h2>Question 6</h2>
    <ul>
        <% for (var i=0; i<results[8].length; i++){ %>
            <li>
                <%= results[8][i].question6 %> :
                    <%= results[8][i].count %>
            </li>
            <% } %>
    </ul>
    <h2>Comments</h2>
    <ul>
        <% for (var i=0; i<results[9].length; i++){ %>
            <li>
                <%= results[9][i].comments %> :
                    <%= results[9][i].count %>
            </li>
            <% } %>
    </ul>
</body>

</html>